.product-description {
	@apply h-10 text-sm text-gray-500;
	display: -webkit-box;
	/* overflow: hidden; */
	text-align: left;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.product-description > span {
	@apply sticky left-full bottom-0.5 bg-white pl-1 text-blue-500 cursor-pointer font-bold;
}

.product-list .swiper-wrapper {
	height: unset;
	display: flex;
	flex-grow: 1;
}
